<!DOCTYPE html>
<html>
<head>
  <title>Warriors</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<header>
		<div class='col-xs-12 title'>
			GS Warriors will win the 2015 NBA Championship!
		</div>
	</header>
	<hr />

	<br class='clear'/>
<div class="container">

	<%= yield %>
</div>

<div class="footer">
	<div class="container pull-right">
		<div class='col-xs-12 footer-blurb'>
			Created in the Bay Area by <a href="https://github.com/vupham0326/Warriors">Vu Pham</a> - a proud Warriors fan.
	
		</div>
	</div>
</div>

</body>
</html>
