<!DOCTYPE html>
<html>
<head>
  <title>Warriors</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="col-xs-3">
			<div class="circle">
				  <br />
				  Let's go Warriors!
      </div>
		</div>
 
		<div class='col-xs-9 title'>
			GS Warriors will win the 2015 NBA Championship!

		</div>
	</header>
	<hr />

	<br class='clear'/>
<div class="container">

	<%= yield %>
</div>

<div class="footer">
	<div class="container pull-right">
		<div class='col-xs-12 footer-blurb'>
			Created in the Bay Area by <a href="https://github.com/vupham0326/Warriors">Vu Pham</a> - a proud Warriors fan.
	
		</div>
	</div>
</div>

</body>
</html>
